@import "tailwindcss";

:root {
  /* --background: #ffffff; */
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-poppins: var(--font-poppins);
  --font-inter: var(--font-inter);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a; */
    --foreground: #ededed;
  }
}

body {
  background: #fff;
  /* background: var(--background); */
  color: var(--foreground);
  /* font-family: Arial, Helvetica, sans-serif; */
}

/* .heading-top {
  clip-path: circle(0px at 0px 0px); 
}

.mask-heading {
  position: relative;
  display: inline-block;
}

.heading-bottom {
  visibility: visible;
} */
